body{
    margin: 5;
    
}
.bar-menu {
    background-color: #1c5085;
    height: 80px;
}
.main-container {
    display: flex;
    padding: 20px 80px;
}
.user-avatar {
    border-color: coral;
    border-width: 5px;
    border-style: solid;
}
    